Django==5.2.11
djangorestframework
djangorestframework-simplejwt
drf-yasg
psycopg2-binary
gunicorn
python-dotenv    
django-cors-headers
dj-database-url
whitenoise
pillow
django-storages[boto3]
firebase-admin
python-multipart
channels
channels-redis
stripe
razorpay
celery
redis
flower
resend
django-anymail
google-auth